*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.Vonalak{
    width: 50px;
    height: 10px;
    background-color: black;
    
}

.li{
    list-style: none;
}

#Burger{
    display: none;
    
}

#navbar{
    padding: 15px;
}

#ul{
    gap: 10px;
    display: flex;
    flex-direction: row;
    font-size: large;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

section{
    width: 60vw;
    font-size: larger;
    background-color: aqua;
    margin: 0 auto 0 auto;
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

h2{
    text-align: center;
}

h2 ~ p{
    text-align: center;
}

ul{
    padding-left: 40px;
}



section > div{
    width: 80%;
    background-color: beige;
    margin: 10px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    padding: 5px;
}

@media (max-width: 576px) {
    #Burger{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 7px;
    }
    #navbar{
        display: none;
    }
    #Burger.Menu{
        display: none;
    }
    #navbar.Menu{
        display: flex;
        
    }
    #navbar.Menu > ul{
        flex-direction: column;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    
}

@media (max-width: 1024px) and (min-width: 769px) {
    
}