

#Burger{
    display: none;
}

.Vonalak{
    width: 100px;
    height: 40px;
    background-color: black;
}

li{
    list-style: none;
}

ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

@media (max-width: 576px) {
    #Burger{
        display: block;
    }
    #navbar{
        display: none;
    }
    
}

@media (max-width: 768px) and (min-width: 577px) {
    
}

@media (max-width: 1024px) and (min-width: 769px) {
    
}